.border {
  margin-left: 8px;
  margin-right: 8px;
  background: #a5d6a7;
  border-radius: 20px;
  text-decoration: none;
}

.v-list-item-group .v-list-item--active {
  color: white !important;
}

.them--light.v-list-item--active.v-list-item__subtitle,
.theme--light.v-list-item .v-list-item__action-text {
  color: white !important;
}