#btnLogin {
  margin-top: 51%;
}

#btnRegister {
  margin-top: 20%;
}

#bgC {
  background-color: #eeeeee;
}

.btn-sidebarRight{
  font-size: 40px;
}

@media (max-width: 767px) {
  #btnLogin{
    margin-top: 20%;
    padding-bottom: 20px;
  }

  .row-inscription{
    display: flex;
    flex-direction: column-reverse;
  }
}

